<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

    <bean class="services.CategoryLookupService" id="lookupService">
        <constructor-arg name="itemCategoryDataProvider" ref="categoryDataProvider" />
    </bean>

    <bean class="providers.ItemCategoryDataProvider" id="categoryDataProvider" />
    <bean class="services.TaxCalculationService">
        <constructor-arg ref="lookupService" name="categoryLookupService" />
    </bean>

</beans>